{% load static %}
<header>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- В дальнейшем тут будет создано полноценное меню -->
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;"
        <div >
          <a class="navbar-brand" href="{% url 'posts:index' %}">
            <img src="{% static 'img/logo.png' %}" width="60" height="60">
            <span style="color:rgb(129, 10, 10)">Рестораны</span>
          </a>
            <a class="navbar-brand" href="{% url 'posts:add_restoran' %}">
              <span style="color:rgb(129, 10, 10)">Добавление ресторана</span>
          </a> 
          <a class="navbar-brand" href="{% url 'posts:help' %}">
            <span style="color:rgb(129, 10, 10)">Помощ в оценке</span>
          <a class="navbar-brand" href="{% url 'posts:index' %}">
            <span style="color:rgb(129, 10, 10)">Профиль</span>
          </a> 
        </div>
      </nav>   
    </header>