{% extends 'base.html' %}
{% block content %}

<div class="container">
<br>
    <style>
        h1 {
         text-align: center;
        }
        </style>
<h1 >Оценка еды</h1>
<ol>
    <li>Отвратительно: блюдо несъедобное, вызывает неприятные ощущения и отвращение.</li>
    <li>Скверно: блюдо имеет заметные недостатки во вкусе, текстуре или подаче, что делает его неприятным для употребления.</li>
    <li>Не очень хорошо: блюдо имеет некоторые недостатки, но в целом приемлемо на вкус и может быть оценено как «удовлетворительно».</li>
    <li>Средне: блюдо имеет нейтральный вкус и текстуру, не вызывает сильных эмоций, но и не запоминается.</li>
    <li>Хорошо: блюдо обладает приятным вкусом и консистенцией, достаточно сбалансировано, чтобы удовлетворить основные вкусовые рецепторы. Внешний вид привлекательный, но не вызывает особого восхищения.</li>
    <li>Очень хорошо: блюдо имеет отличный вкус и консистенцию, хорошо сбалансировано и вызывает положительные эмоции. Внешний вид привлекательный и вызывает интерес.</li>
    <li>Отлично: блюдо обладает превосходным вкусом и консистенцией, идеально сбалансировано и вызывает восхищение. Внешний вид привлекательный и вызывает желание попробовать.</li>
    <li>Великолепно: блюдо имеет исключительный вкус и консистенцию, является шедевром кулинарного искусства и вызывает восторг. Внешний вид потрясающий и незабываемый.</li>
    <li>Изумительно: блюдо настолько великолепно, что становится незабываемым и вызывает желание поделиться им с другими. Внешний вид блюда. Настолько потрясающий, что его хочется запечатлеть на фото или описать друзьям.</li>
    <li>Гастрономический оргазм: блюдо настолько превосходно, что вызывает исколоколо желание попробовать ещё раз. Внешний вид блюда настолько великолепно, что кажется, будто оно сошло со страниц кулинарной книги.</li>
</ol>
</div>
{% endblock %}
