{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>    
    <meta charset="utf-8"> <!-- Кодировка сайта -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/pirog.png' %}">
    <!--<link rel="stylesheet" href="{% static 'css/МОЕ НАЗВАНИЕ.min.css' %}"> -->
    <title> {{ title }} </title>
  </head>
  <body>


    <header>
      {% include 'includes/header.html' %}  
    </header>
    <main> 
      {% block content %}
      
      {% endblock %}
    </main>

    <footer class="border-top text-center py-3">
      {% include 'includes/footer.html' %}  
    </footer>
  </body>